@keyframes slideInTop{
    from {
        transform: translateY(-2000px);
    }
    to { 
        transform: translateY(0);
    }
}

.slideInTop {
    animation: slideInTop .5s forwards;
}

@keyframes slideOutTop{
    from {
        transform: translateY(0);
    }
    to { 
        transform: translateY(-2000px);
    }
}

.slideOutTop {
    animation: slideOutTop .5s forwards;
}

@keyframes growIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.growIn {
    animation: growIn .5s forwards;
}

@keyframes slideInRight {
    from {
        transform: translateX(2000px);
    }
    to {
        transform: translateX(0px);        
    }
}

.slideInRight {
    animation: slideInRight .5s forwards;
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(2000px);
    }
}

.slideOutRight {
    animation: slideOutRight .5s forwards;
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-2000px);
    }
}

.slideOutLeft {
    animation: slideOutLeft .5s forwards;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-2000px);
    }
    to {
        transform: translateX(0);        
    }
}

.slideInLeft {
    animation: slideInLeft .5s forwards;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    15% {
        transform: translateY(-40px);
    }

    30% {
        transform: translateY(0px);
    }

    45% {
        transform: translateY(-40px);        
    }
    60% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes flipIn {
    from {
        transform: rotateY(90deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

.flipIn {
    animation: flipIn .5s forwards;
}

@keyframes increaseWidth {
    from {
        width: 75%;
    }
    to {
        width: 90%;
    }
}

.increaseWidth {
    animation: increaseWidth .3s forwards;
}

.compAnimation {
    animation: increaseWidth .5s forwards .3s, slideInRight .3s forwards;
}

.compAnimationRev {
    animation: slideOutRight .5s forwards, increaseWidth 10s forwards reverse;
}

/* FIX THIS */