* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: none;
    background-color: none;
}

:root {
    --bg-1: hsl(214, 47%, 23%);
    --bg-2: hsl(237, 49%, 15%);
    --black-clr: hsl(229, 25%, 31%);
    --blue-clr: hsl(229, 64%, 46%);
    --score-border: hsl(217, 16%, 45%);
    --paper-blue-1: hsl(230, 89%, 62%);
    --paper-blue-2: hsl(230, 89%, 65%);
    --scissors-yellow-1: hsl(39, 89%, 49%);
    --scissors-yellow-2: hsl(40, 84%, 53%);
    --rock-red-1: hsl(349, 71%, 52%);
    --rock-red-2: hsl(349, 70%, 56%);
}

html {
    font-size: 100%;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container {
    overflow-x: hidden;
    background: radial-gradient(circle at 50% 0%, var(--bg-1), var(--bg-2));
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 1fr auto;
}

.intro, 
.game {
    grid-column: 1/2;
    grid-row: 1/2;
}

.intro {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    color: white;
    padding: 1rem;
}

button:focus, 
button:hover {
    outline: 0;
    cursor: pointer;
}

.intro button {
    border: 0;
    padding: 13px 10px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.918);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    cursor: pointer;
    margin: 1rem;
    transition: transform 0.5s ease;
}

.play-btn {
    width: 125px;
    background-color: hsl(230, 89%, 65%);
}

.play-btn:hover {
    background-color: hsl(230, 75%, 45%);
    transform: rotate(-7deg);
}

.rules-btn {
    background-color: var(--black-clr);
    width: 200px;
}

.rules-btn:hover,
.new-game-btn:hover {
    background-color: hsl(219, 17%, 51%);
}

.rules {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 100vh;
    padding-top: 2rem;
    transform: translateY(-3000px);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.rules h2 {
    text-transform: uppercase;
    color: var(--black-clr);
    font-size: 2rem;
}

.close-rules-btn {
    color: rgb(204, 202, 202);
    font-size: 1.3rem;
    cursor: pointer;
}

.close-rules-btn:hover,
.close-rules-btn:focus {
    color: var(--rock-red-1);
}

.game {
    transform: translateX(100vw);
}

.score-board-wrapper {
    padding: 2rem 0;
}

.score-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 55vmax;
    margin: 0 auto;
    border: 3px solid var(--score-border);
    border-radius: 6px;
    padding: .7rem 1rem;
}

.logo {
    width: 30%;
}

.logo img {
    width: 100%;
}

.score-wrapper {
    background-color: white;
    flex: 0 1 28%;
    text-align: center;
    padding: .5rem .3rem;
    border-radius: 8px;
}

.score-wrapper small {
    color: var(--blue-clr);
    text-transform: uppercase;
    font-weight: 600;
}

.score {
    color: var(--black-clr);
    font-size: 2.5rem;
    font-weight: 700;
}

.play {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    position: relative;
}

.sign-pick {
    grid-row: 1/2;
    width: 100%;
    height: 100%;
}

.content {
    width: 237px;
    height: 477px;
    margin: 0 auto;
    background: url(../images/bg-triangle.svg) center center / 100% no-repeat;
    position: relative;
}

.sign-wrapper {
    width: 130px;
    height: 130px;
    padding: .6rem;
    border-radius: 50%;
    position: relative;
}

.sign-pick .sign-wrapper {
    transform: scale(0);
    position: absolute;
}

.player .sign-wrapper {
    animation: bounce 1s forwards .2s;
}

.paper {
    background: linear-gradient(to bottom, var(--paper-blue-1), var(--paper-blue-2));
    box-shadow: 0 6px 0 hsl(230, 78%, 48%), 0 12px 5px hsla(237, 49%, 15%, 0.5);
}

.sign-pick .paper {
    top: 80px;
    left: -40px;
}

.scissors {
    background: linear-gradient(to bottom, var(--scissors-yellow-1), var(--scissors-yellow-2));
    box-shadow: 0 6px 0 hsl(39, 99%, 36%), 0 12px 5px hsla(237, 49%, 15%, 0.5);
}

.sign-pick .scissors {
    top: 80px;
    right: -40px;
}

.rock {
    background: linear-gradient(to bottom, var(--rock-red-1), var(--rock-red-2));
    box-shadow: 0 6px 0 hsl(349, 77%, 38%), 0 12px 5px hsla(237, 49%, 15%, 0.5);
}

.sign-pick .rock {
    bottom: 111px;
    left: 60px;
}

.sign {
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 5px 0px rgb(222, 230, 233);
    cursor: pointer;
}

.sign>img {
    width: 50%;
}

.battle {
    grid-row: 1/2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    transform: translateX(2000px);
    position: absolute;
}

.battle>div:not(:last-of-type) {
    height: 180px;
    transition: height .5s ease-in-out;
}

.player,
.cpu {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 100%;
    width: 130px;
}

/* remove initial animation-delay achieved through js */
.player > div {
    animation-delay: .5s !important;  
}

.cpu > div {
    animation-delay: 0s !important;  
}

.dummy {
    width: 100px;
    height: 100px;
    background: hsl(237, 49%, 15%);
    border-radius: 50%;
    align-self: center;
    margin-top: 14px;
}

.battle p {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .7rem;
    text-align: center;
    letter-spacing: 1px;
    z-index: 4;
}

.winner::before {
    content: '';
    position: absolute;
    top: -87px;
    left: -90px;
    height: 310px;
    width: 310px;
    background: radial-gradient(transparent 30%, hsla(217, 16%, 45%, 0.3) 30%, hsla(217, 16%, 45%, 0.3) 40%, hsla(217, 16%, 45%, 0.2) 40%, hsla(217, 16%, 45%, 0.2) 56%, hsla(217, 16%, 45%, 0.1) 56%);
    border-radius: 50%;
}

.result {
    align-self: end;
    flex: 0 1 100%;
    height: 133.716px;
    transform: rotateY(90deg);
}

.result h1 {
    text-transform: uppercase;
    font-weight: 700;
}

.play-again {
    background-color: #fff;
    color: var(--bg-1);
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 8px;
    border: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1rem;
}

.play-again:hover {
    color: var(--rock-red-1);
}

.btn-wrapper {
    grid-row: 2/3;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
}

.btn-wrapper button {
    width: 125px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.527);
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.918);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    cursor: pointer;
    transition: transform .5s ease;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 1rem;
    background-color: #fff;
    grid-column: 1/2;
    grid-row: 2/3;
}

.attribution p {
    font-size: .8rem;
    font-weight: 600;
    color: rgb(51, 51, 51);
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-weight: 700;
    text-decoration: none;
}

.attribution a:hover {
    color: hsl(228, 66%, 21%);
    text-decoration: underline;
}

@media screen and (min-width: 1001px) {
    .rules {
        height: 500px;
        width: 480px !important;
        left: 0;
        right: 0;
        margin: 20vh auto;
        border-radius: 8px;
        flex-flow: row wrap;
        align-items: unset;
        padding: 3rem;
        position: absolute;
    }

    .rules h2,
    .close-rules-btn {
        font-size: 2.3rem;
    }

    .close-rules-btn {
        margin-right: 0;
        margin-left: auto;
    }

    .rules > div   {
        order: 2;
        flex-basis: 80%;
        margin-top: 2rem;
    }

    .drop-shadow.active {
        background-color: hsla(237, 49%, 15%, 0.466);
        width: 100vw;
        position: fixed;
        height: 100%;
        z-index: 2;
    }

    .score-board {
        padding: 1.5rem;
        border-radius: 16px;
    }

    .score-wrapper {
        padding: .7rem .5rem;
        flex-basis: 20%;
    }

    .logo {
        width: 20%;
    }

    .score {
        font-size: 4rem;
    }

    .play {
        grid-template-rows: 3fr .5fr;
        width: 100%;
        padding: 1% 3%;
    }

    .content {
        width: 460px;
        height: 547px;
        padding-top: 2rem;
        background-position: center bottom;
    }

    .sign-wrapper {
        width: 230px;
        height: 230px;
        padding: 1.4rem;
    }

    .paper {
        box-shadow: 0 13px 0 hsl(230, 78%, 48%), 0 22px 5px hsla(237, 49%, 15%, 0.5);
    }

    .sign-pick .paper {
        top: 40px;
        left: -70px;
    }

    .scissors {
        box-shadow: 0 13px 0 hsl(39, 99%, 36%), 0 22px 5px hsla(237, 49%, 15%, 0.5);   
    }

    .sign-pick .scissors {
        top: 40px;
        right: -70px;
    }

    .rock {
        box-shadow: 0 13px 0 hsl(349, 77%, 38%), 0 22px 5px hsla(237, 49%, 15%, 0.5);
    }

    .sign-pick .rock {
        bottom: -16px;
        left: 127px;
    }

    .sign {
        box-shadow: inset 0 10px 0px rgb(222, 230, 233);
    }

    .play .rules-btn {
        justify-self: end;
    }

    .battle {
        padding: 0 5%;
        margin: 0 auto;
        align-items: center;
        width: 75%;
        left: 0;
        right: 0;
    }

    .battle>div:not(:last-of-type) {
        height: 80%;
        flex: 0 1 350px;
    }

    .battle>div:nth-of-type(2) {
        order: 2;
    }

    .player,
    .cpu {
        flex-flow: column-reverse wrap;
        width: 350px;
        height: 100%;
    }

    .battle .sign-wrapper {
        width: 350px;
        height: 350px;
        padding: 2.5rem;
    }

    .battle .paper {
        box-shadow: 0 15px 0 hsl(230, 78%, 48%);
    }

    .battle .scissors {
        box-shadow: 0 15px 0 hsl(39, 99%, 36%);
    }

    .battle .rock {
        box-shadow: 0 15px 0 hsl(349, 77%, 38%);
    }

    .battle p {
        font-size: 1.5rem;
        letter-spacing: 4px;
    }

    .dummy {
        width: 250px;
        height: 250px;
        margin-bottom: 50px;
        margin-top: 0;
    }

    .winner::before {
        width: 800px;
        height: 830px;
        top: -143px;
        left: -225px;
    }

    .result {
        order: 1;
        flex: 0 1 .1rem;
        align-self: center;
    }

    .result h1 {
        font-size: 3.5rem;
    }

    .play-again {
        cursor: pointer;
        width: 80%;
    }

    .battle .sizeIncrease {
        flex: 0 1 17rem;
    }

    .btn-wrapper {
        flex-flow: row wrap;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1279px) {
    .content {
        background-position: center center;
        background-size: 90%;
    }
    .sign-wrapper {
        width: 210px;
        height: 210px;
    }

    .sign-pick .paper {
        top: 0px;
        left: -50px
    }

    .sign-pick .scissors {
        top: 0px;
        right: -50px
    }

    .sign-pick .rock {
        bottom: 70px;
        right: -50px
    }

    .battle {
        width: 70%;
        align-items: flex-start;
        padding-top: 40px;
    }

    .battle>div:not(:last-of-type) {
        height: 67%;
        flex: 0 1 250px;
    }

    .battle .sign-wrapper {
        width: 250px;
        height: 250px;
        padding: 1.5rem;
    }

    .player,
    .cpu {
        width: 250px;
    }

    .battle p {
        font-size: 1.3rem;
        letter-spacing: 2px;
    }

    .dummy {
        width: 180px;
        height: 180px;
        margin-bottom: 33px;
    }

    .result {
        margin-top: -120px;
        align-self: center;
    }

    .winner::before {
        width: 585px;
        height: 620px;
        top: -85px;
        left: -167px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1000px) {
    .score-wrapper {
        flex-basis: 20%;
    }

    .content {
        width: 350px;
        height: 530px;
    }

    .sign-wrapper {
        width: 180px;
        height: 180px;
        padding: 1rem;
    }

    .paper {
        box-shadow: 0 10px 0 hsl(230, 78%, 48%), 0 18px 5px hsla(237, 49%, 15%, 0.5);
    }

    .sign-pick .paper {
        top: 28px;
        left: -60px;
    }

    .scissors {
        box-shadow: 0 10px 0 hsl(39, 99%, 36%), 0 18px 5px hsla(237, 49%, 15%, 0.5);   
    }

    .sign-pick .scissors {
        top: 28px;
        right: -60px;
    }

    .rock {
        box-shadow: 0 10px 0 hsl(349, 77%, 38%), 0 18px 5px hsla(237, 49%, 15%, 0.5);
    }

    .sign-pick .rock {
        bottom: 60px;
        left: 90px;
    }

    .battle {
        width: 80%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .battle>div:not(:last-of-type) {
        height: 240px;
        width: 180px;
    }

    .player, .cpu {
        width: 100%;
    }

    .dummy {
        width: 120px;
        height: 120px;
        margin-top: 34px;
    }

    .battle p {
        font-size: 1rem;
    }

    .winner::before {
        top: -123px;
        left: -122px;
        height: 430px;
        width: 425px;
    }
}

@media screen and (max-width: 359px) {
    h1 {
        font-size: 2rem;
    }

    .rules img {
        width: 80%;
        margin: 0 auto;
        display: block;
    }

    .score-wrapper {
        flex-basis: 40%;
    }

    .score-wrapper small {
        font-size: .8rem;
    }

    .score {
        font-size: 1.8rem;
    }

    .content {
        width: 180px;
        height: 300px;
        background-position: center 50px;
    }

    .sign-wrapper {
        width: 100px;
        height: 100px;
    }

    .sign-pick .paper {
        top: 10px;
        left: -30px;
    }

    .sign-pick .scissors {
        top: 10px;
        right: -30px;
    }

    .sign-pick .rock {
        bottom: 55px;
        left: 40px;
    }

    .battle>div:not(:last-of-type) {
        height: 140px;
    }

    .player, .cpu {
        width: 100px;
    }

    .battle p {
        font-size: .5rem;
    }

    .winner::before {
        width: 240px;
        height: 240px;
        top: -67px;
        left: -69px;
    }

    .result h1 {
        font-size: 1.7rem;
    }

    .play-again {
        padding: .8rem;
        width: 60%;
    }
}