* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-clr: hsl(229, 25%, 31%);
    --blue-clr: hsl(229, 64%, 46%);
    --score-border: hsl(217, 16%, 45%);
}

html {
    font-size: 100%;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%)); 
}

.game {
    height: 100vh;
    /* background-color: hsl(214, 47%, 23%); */
}

.score-board-wrapper {
    height: 20vh;
    display: flex;
    align-items: center;
}

.score-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 50vmax;
    margin: 0 auto;
    border: 3px solid var(--score-border);
    border-radius: 6px;
    padding: .7rem 1rem;
}

.logo {
    width: 25%;
}

.logo img {
    width: 100%;
}

.score-wrapper {
    background-color: white;
    text-align: center;
    padding: .5rem 1.3rem;
    border-radius: 4px;
}

.score-wrapper small {
    color: var(--blue-clr);
    text-transform: uppercase;
    font-weight: 600;
}

.score {
    color: var(--black-clr);
    font-size: 2.5rem;
    font-weight: 700;
} 

.play {
    width: 80%;
    margin: 0 auto;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
    align-items: center;
} 

.sign-pick {
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image {
    width: 60%;
    margin: 0 auto;
    margin-top: -70px
}

.image img {
    width: 100%;
}

.content {
    z-index: 3;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'paper scissors'
        'rock rock';
    justify-items: center;
    align-items: center;
}

.sign-wrapper {
    width: 110px;
    height: 110px;
    padding: .6rem;
    border-radius: 50%;
}

.paper {
    background: linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    box-shadow: 0 5px 0 hsl(230, 89%, 62%);
}

.scissors {
    background: linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    box-shadow: 0 5px 0 hsl(39, 89%, 49%);
}

.rock {
    background: linear-gradient(to bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    box-shadow: 0 5px 0 hsl(349, 71%, 52%);
    grid-area: rock;
    align-self: start;
    margin-top: -50px;
}

.sign {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 5px 0px rgb(222, 230, 233);
}

.sign > img {
    width: 50%;
}












.in-game-rules {
    grid-row: 2/3;
}

.in-game-rules button {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.527);
    width: 125px;
    padding: 10px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.918);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}

.rules, .splash-screen, .battle, .result {
    display: none;
}













.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}