* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-clr: hsl(229, 25%, 31%);
    --blue-clr: hsl(229, 64%, 46%);
    --score-border: hsl(217, 16%, 45%);
}

html {
    font-size: 100%;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.container>div {
    height: 100%;
    width: 100%;
    position: absolute;
}

.splash-screen {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.splash-screen h1 {
    font-size: 2.55rem;
    text-align: center;
    color: white;
    padding: 1rem;
}

.splash-screen button {
    background-color: transparent;
    border: 0;
    width: 125px;
    padding: 10px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.918);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    cursor: pointer;
    margin: 1rem;
    outline: 0;
    transition: transform 0.5s ease;
}

.splash-screen button:first-of-type {
    background-color: hsl(230, 89%, 65%);
}

.splash-screen button:first-of-type:hover {
    background-color: hsl(230, 75%, 45%);
}

.splash-screen button:active {
    transform: translateY(10px);
}

.splash-screen button:last-of-type {
    background-color: var(--black-clr);
    border: 2px solid rgba(255, 255, 255, 0.527);
    width: 190px;
}

.splash-screen button:last-of-type:hover {
    background-color: hsl(219, 17%, 51%);
}

.rules {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding-top: 2rem;
    transform: translateY(-100vh);
}


.rules h2 {
    text-transform: uppercase;
    color: var(--black-clr);
    font-size: 2rem;
}

.rules i {
    color: rgb(204, 202, 202);
    font-size: 1.3rem;
    cursor: pointer;
}

.rules i:hover,
.rules i:focus {
    color: rgb(192, 37, 37);
}

.game {
    background: radial-gradient(circle at 50% 0%, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    transform: translateX(100vw);
}

.score-board-wrapper {
    height: 20vh;
    display: flex;
    align-items: center;
}

.score-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 50vmax;
    margin: 0 auto;
    border: 3px solid var(--score-border);
    border-radius: 6px;
    padding: .7rem 1rem;
}

.logo {
    width: 25%;
}

.logo img {
    width: 100%;
}

.score-wrapper {
    background-color: white;
    text-align: center;
    padding: .5rem 1.3rem;
    border-radius: 4px;
}

.score-wrapper small {
    color: var(--blue-clr);
    text-transform: uppercase;
    font-weight: 600;
}

.score {
    color: var(--black-clr);
    font-size: 2.5rem;
    font-weight: 700;
}

.play {
    width: 80%;
    margin: 0 auto;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    position: relative;
}

.sign-pick {
    grid-row: 1/4;
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    /* display: none; */
}

.content {
    width: 237px;
    height: 477px;
    margin: 0 auto;
    background: url(../images/bg-triangle.svg) center center / 100% no-repeat;
    position: relative;
}

.sign-wrapper {
    width: 120px;
    height: 120px;
    padding: .6rem;
    border-radius: 50%;
    position: relative;
}

.sign-pick .sign-wrapper {
    transform: scale(0);
}

.player .sign-wrapper {
    animation: bounce 1s forwards;
}

.sign-wrapper::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: 0 5px 5px hsla(237, 49%, 15%, 0.4);
    cursor: pointer;
}

.paper {
    background: linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    box-shadow: 0 6px 0  hsl(230, 78%, 48%);
}

.sign-pick .paper {
    position: absolute;
    top: 80px;
    left: -40px;
}

.scissors {
    background: linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    box-shadow: 0 6px 0 hsl(39, 99%, 36%);
}

.sign-pick .scissors {
    position: absolute;
    top: 80px;
    right: -40px;
}

.rock {
    background: linear-gradient(to bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    box-shadow: 0 6px 0 hsl(349, 77%, 38%);
}

.sign-pick .rock {
    position: absolute;
    bottom: 111px;
    left: 60px;
}

.sign {
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 5px 0px rgb(222, 230, 233);
}

.sign>img {
    width: 50%;
}

.battle {
    grid-row: 1/4;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    /* display: none; */
    transform: translateX(100vw);
    position: absolute;
}

.battle > div:not(:last-of-type) {
    height: 170px;
    transition: height .5s ease-in-out;
}

.player,
.cpu {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 100%;
    width: 120px;
}

.dummy {
    width: 100px;
    height: 100px;
    background: hsl(237, 49%, 15%);
    margin: 0rem auto 0;
    border-radius: 50%;
    justify-self: center;
}

.battle p {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .7rem;
    text-align: center;
}

.result {
    grid-column: 1/3;
    grid-row: 3/4;
    align-self: end;
    flex: 0 1 100%;
    height: 133.716px;
    transform: rotateY(90deg);
}

.result h1 {
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
}

.result button {
    background-color: #fff;
    color: hsl(214, 47%, 23%);
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 8px;
    border: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1rem;
}

.win {
    transition: all 1s ease;
}

.win::before {
    content: '';
    position: absolute;
    top: -80px;
    left: -82px;
    height: 285px;
    width: 285px;
    background: radial-gradient(transparent 30%, hsla(217, 16%, 45%, 0.3) 30%, hsla(217, 16%, 45%, 0.3) 40%, hsla(217, 16%, 45%, 0.2) 40%, hsla(217, 16%, 45%, 0.2) 56%, hsla(217, 16%, 45%, 0.1) 56%);
    border-radius: 50%;
}

.play div:last-of-type {
    grid-row: 4/5;
}

.game-rules {
    grid-row: 4/5;
}

.game-rules {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.527);
    width: 125px;
    padding: 10px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.918);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.show {
    display: grid;
}

.hide {
    display: none;
}